body {
    text-align: left;
}

.chris img {
    width: 200;
    height: 200px;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
/* NAV BAR
================================ */
.navbar {
    background-color: black;
}

.navbar-menu {
  background-color: black;
}

.navbar-item {
    color: white;
}

div.navbar-end a:hover {
    color: #D8C3A5;
    background-color: transparent;
}

div.navbar-end a:focus {
    color: #D8C3A5;
    background-color: transparent;
}

/* HERO
================================ */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .hero-text h1 {
    color: white;
    font-size: 3rem;
    font-weight: 600;
  }

  .hero-text h3 {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .hero-text p {
    color: white;
    font-size: 2rem;
    font-weight: 400;
  }

  .hero {
    background: black url("../assets/img/familynight/fn43header.png") center / cover;
  }

  /* @media (max-width: 1024px) { .hero { background: black url() center / cover; } }
  @media (max-width: 768px) { .hero { background: black url() center / cover; } } */

  /* FAQ
================================ */

/*Question*/
.question {
    position: relative;
    background: #f9f9f9;
    margin: 0;
    padding: 10px 10px 10px 50px;
    display: block;
    width:100%;
    cursor: pointer;
}
/*Answer*/
.answers {
    padding: 0px 15px;
    margin: 5px 0;
    width:100%!important;
    height: 0;
    overflow: hidden;
    position: relative;
    opacity: 0;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.questions:checked ~ .answers{
    height: auto;
    opacity: 1;
    padding: 15px;

}

/*FAQ Toggle*/
.plus {
    position: absolute;
    margin-left: 10px;
    z-index: 5;
    font-size: 2em;
    line-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.questions:checked ~ .plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.questions {
    display: none;
}

/* TITLE FADE
================================ */

#show-title {
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
