.tabletime {
  width: 25%;
}

.tabelname {
  width: 50%;
}

.tablepeople {
  width: 25%;
}

.title {
  font-weight: bold;
  font-size: 2rem;
}

.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
}