.tabletime {
  width: 25%;
}

.tabelname {
  width: 50%;
}

.tablepeople {
  width: 25%;
}

.title {
  font-weight: bold;
  font-size: 2rem;
}

.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
}

.box > .table.is-fullwidth {
    margin-left: -1.25rem;
    margin-right:  -1.25rem;
    width: calc(100% + 2.5rem);
}

.box > .table.is-fullwidth:last-child {
    margin-bottom: -1.25rem;
}

.box > .table.is-fullwidth td:first-child,
.box > .table.is-fullwidth th:first-child {
    padding-left: 1.25rem;
}

.box > .table.is-fullwidth td:last-child,
.box > .table.is-fullwidth th:last-child {
    padding-right:  1.25rem;
}
